*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    

}

.sideB{
    position: fixed;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    left: 0;
    top: 0;
    border-top: none;
    overflow-y: hidden;
    background-color: transparent;
    z-index: 100;
    color: whitesmoke;
}
.sideB h2{
    text-shadow: 1px 1px 5px rgb(160, 160, 160);
}
.sideB .sidenav{
    margin-top: 40px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}
.sideB  .sidenav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    
}
.sideB  .sidenav ul li{
    border: 1px solid gray;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 1px gray;
    margin-top: 5px;
    background-color: whitesmoke;
    
}
.sideB  .sidenav ul li:hover{
    transition: all ease 0.5s;
    margin-top: 3px;
    background-color: rgb(255, 225, 76);
    
}
.sideB  .sidenav ul .pending:hover{
    background-color: rgb(225, 229, 26);
}
.sideB  .sidenav ul .Delivered:hover{
    background-color: rgb(145, 235, 166);
}
.sideB  .sidenav ul .Cancelled:hover{
    background-color: rgb(253, 212, 231);
}
.sideB  .sidenav ul .Get:hover{
    background-color: rgb(243, 223, 12);
}
.sideB  .sidenav ul .Insert:hover{
    background-color: rgb(122, 232, 252);
}
.sideB  .sidenav ul .Update:hover{
    background-color: rgb(212, 255, 142);
}
.sideB  .sidenav ul .Delete:hover{
    background-color: rgb(255, 122, 124);
}
.sideB  .sidenav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
   
   
   
}





